<div class="container" style="padding:0px;margin:0px;">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/newItem">New Item</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Edit Item</a>
  </li>
</ul>
<h4>Edit Item</h4>
<form>
  <div class="form-group">
    <label for="itemName">Name:</label>
    <input class="form-control" type="text" id="itemName"placeholder="Name" ng-model="vm.item.name" />
  </div>
  <div class="form-group">
    <label for="purchasePrice">Purchase Price:</label>
    <input class="form-control" type="text" id="purchasePrice" placeholder="Purchase Price" ng-model="vm.item.purchasePrice" />
  </div>
  <div class="form-group">
    <label for="salePrice">Sale Price:</label>
    <input class="form-control" type="text" id="salePrice" placeholder="Sale Price" Price ng-model="vm.item.salePrice" />
  </div>
  <button class="btn btn-primary" ng-click="vm.editItem()">Save</button>
</form>
</div>
